:root {
  font-size: 100%;
}
html {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
body::before,
body::after {
  content: "";
  background-image: url(../images/bg-pattern-top.svg);
  width: 15rem;
  position: absolute;
  height: 33rem;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0) invert(1);
}
body::after {
  background-image: url(../images/bg-pattern-top.svg);
  left: 0;
  top: 0;
  transform: rotate(180deg);
}
section {
  width: 28rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
}
section > img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
div img {
  border-radius: 50%;
  border: 0.4rem white solid;
  position: relative;
  top: -3rem;
  width: 6rem;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2rem;
}
h2 {
  font-size: 1.3rem;
  font-weight: 700;
}
.two p {
  font-size: 1.3rem;
  position: relative;
  right: -0.8rem;
  color: #a8a8aa;
}
.two::after {
  content: "Bruxelles";
  position: absolute;
  bottom: -2rem;
  color: #a8a8aa;
}
.last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  border-top: 0.1rem solid #e8e8e8;
  padding: 2rem 0;
  margin-top: 1.5rem;
}
.last div {
  display: flex;
  flex-direction: column;
}
.last p {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.6rem;
  color: #a8a8aa;
}
@media (min-width: 1440px) {
  body::before,
  body::after {
    width: 50rem;
    height: 30rem;
    opacity: 50%;
  }
}
